/* 
    Document   : common
    Created on : Jul 18, 2011, 1:23:39 AM
    Author     : tim
    Description:
        CSS common to all layouts
*/

div .error {
	width: 75%;
	margin: 0px auto;

	background-color: #fe7878;
	color: black;

	border: 1px solid #d40101; /* #b40202 */
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div .warning {
	width: 75%;
	margin: 0px auto;

	background-color: #999999;
	color: black;

	border: 1px solid #666666; /* #b40202 */
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div .info {
	width: 75%;
	margin: 0px auto;

	background-color: #33cc00;
	color: black;

	border: 1px solid #666666; /* #b40202 */
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.breadcrumbs {
	padding-left: 1.5em;
}

ul.tabs {
	list-style-type: none;

	/*padding: 3px 10px 3px 10px;*/
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 1.5em;
	
	margin: 1em 0 0em 0;

	border-bottom: 1px solid #609600;
}

ul.tabs li a {
	text-decoration: none;
	/*padding: 6px 6px;*/

	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 9px;

	border-top: 1px solid #609600;
	border-left: 1px solid #609600;
	border-right: 1px solid #609600;
	/*background-color: #3d6c02;*/
	background-color: #66ff66; /* #66cc66 */
	font-weight: bold;
	color: #111111;
}

ul.tabs li {
	display: inline;

	padding-right: 1em;
}

li.tab {
	
}

ul.tabs li.tab-selected a {
	border-bottom: 1px solid #333333;
	color: #8AC800;
}

ul.tabs li.tab:hover a {
	background-color: #66cc66;
}

ul.tabs li.tab-selected a {
	background-color: #333333;
}

.preview {
	background-color: #545454;
	border: 1px solid #161616;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5em;
	padding: 10px;
}

.category {
	background-color: #333333;
	border: 1px solid #609600;
	padding: 6px;
	margin: .5em;
}

.category ul {
	margin-bottom: 0;
}

.upload-image-queue {
	list-style-type: none;
	padding: 5px;
}

.upload-image-queue li {
	float: left;
	padding: 5px;
}

.moderator-item {
	width: 90%;
	margin: 10px;
	padding: 10px;
	border: 1px solid gray;
}

.moderator-item-image {
	float: left;
	margin-right: 20px;
}

.moderator-item-image img {
	
}

.moderator-item-right {

}

.content-list {
	list-style-type: none;
}

.content-item {
	float: left;
	margin: 5px;
}

.content-hidden {
	display: none;
}

.stats {
	width: 100%;
}

.stats-item {
	width: 45%;
	float: left;
	border: 1px solid #444;
	margin: 5px;
}

.stats-item-nofloat {
	border: 1px solid #444;
	margin: 5px;
}

.stats-header {
	width: 100%;
	text-align: center;
	padding: 5px;
}

.stats-header h3 {
	margin-bottom: 5px;
}

.stats-footer {
	width: 100%;
	text-align: center;
	padding: 5px;
}

.robot-component {
	width: 90%;
	margin: 10px;
	padding: 10px;
	border: 1px solid gray;
}

.robot-component-dialog {
	display: none;
}

.robot-component-dialog-img {
	width: 100%;
}

.robot-component-dialog-img * {
	margin: 0 auto;
}

.robot-component-dialog-bar {
	border-top: 1px solid gray;
}
