/* 
    Document   : main
    Created on : Mar 1, 2010, 10:33:23 PM
    Author     : tim
    Description:
        The main stylesheet
*/

root { 
    display: block;
}

.head {
	color: white;
	background-image: url(header-grad-black.png);
}

.menuitem_form {
	background-image: url(menu-grad-red.png);
	height: 35px;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	color: black;
}

.menuitem_form:hover {
	background-image: url(menu-grad-red-hover.png);
}

li {
	margin-left: 25px;
}